:root.blue {
    --main-color: silver;
    --main-secondary-color: silver;
    --background-color: #1C1C1C;
    --background-dark-color: #1C1C1C;
    --background-light-color: gray;
    --placeholder-color: CadetBlue;
    --item-selected-color: gray;
    --eta-best: green;
    --eta-mid: Khaki;
    --eta-worst: salmon;
    --text-color: silver;
    --text-light-highlight-color: red;
    --text-dark-highlight-color: salmon;
    --text-error-color: red;
    --button-color: CadetBlue;
    --button-hover-color: #1C1C1C;
    --button-hover-background-color: CadetBlue;
    --you-color: black;
    --you-background-color: CadetBlue;
    --promoted-color: CadetBlue;
    --promoted-background-color: black;
    --header-color: gray;
    --navbar-color: #1C1C1C;
    --offcanvas-background-color: lightgray;
    --link-hover-color: white;
    --link-color: CadetBlue;
}
